.container {
    flex-basis: 30%;
    max-width: 30%;
    flex-grow: 1;
    padding: 15px;
    margin: 1% 1% 1% 0;
    box-shadow: 0 1px 7px rgba(0,0,0,0.2);
}

.container:hover {
    background-color: rgba(175,238,238, 0.2);
}

@media only screen and (max-device-width: 768px) {
    .container {
        flex-basis: 80%;
        max-width: 100%;
        justify-content: flex-start;
        margin-bottom: 15px;
    }
}

.info {
    display: flex;
}

.author {
    margin-right: 30px;
}

.link:link, .link:visited, .link:hover, .link:active {
    text-decoration: none;
    color: black;
}

.title {
    margin: 10px 0;
    font-size: 25px;
}

.info {
    font-size: 16px;
    margin-bottom: 10px;
}

.time, .author, .more {
    color: #778899;
    font-style: italic;
}

.author {
    font-weight: 900;
}

.content {
    font-size: 16px;
    line-height: 1.4;
}
