.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    text-align: center;
    line-height: 1.3;
}

.link:link, .link:visited, .link:hover, .link:active {
    text-decoration: none;
    color: black;
}